
<h2>Profile</h2>

<h3>
  <strong>Name:</strong>
  <%= @user.name %>
</h3>

<h3>
  <strong>Email:</strong>
  <%= @user.email %>
</h3>

Display list of stashes
New stash button
<%= render partial:"stash/stash_form" %>


<%=@user.stashes.each do |stash|%>
<%=stash.inspect%>
<%end%>

<p> <%= link_to 'Edit', edit_user_path(@user), {:class=>"btn btn-large btn-link"}  %></p>
