
<h2>Profile</h2>
<div style="margin-left:px;">
  <h3>
    <strong>Name:</strong>
    <%= @user.name %>
  </h3>

  <h3>
    <strong>Email:</strong>
    <%= @user.email %>
  </h3>
</div>

<p> <%= link_to 'Edit', edit_user_path(@user), {:class=>"btn btn-large btn-link"}  %></p>

<h3>
  <strong>Your Stashes</strong>
  <%= render partial:"stash/stash_form" %>
</h3>
<br>
  <%= render partial:"shared/stash_display", locals:{stashes: @stashes} %>
