
<h2>Profile</h2>

<h3>
  <strong>Name:</strong>
  <%= @user.name %>
</h3>

<h3>
  <strong>Email:</strong>
  <%= @user.email %>
</h3>

<div class="col-md-4">
  <div class="thumbnail">
   

    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
	<div class="front">
           <img class="postimage" src="http://www.clker.com/cliparts/H/D/e/R/O/P/green-plus-sign-md.png">
	  <!-- front content -->
	</div>
	<div class="back">
	  <!-- back content -->
          hellooo
	</div>
      </div>
    </div>

  </div>
</div>
Display list of stashes

New stash button

            <li><%= render partial:"post/post_form" %></li>


<%=@posts.each do |post|%>
<a href= "<%=post.url%>"/>
<img src="http://free.pagepeeker.com/v2/thumbs.php?size=m&url=<%=post.url%>"/>
<%end%>
</a>
<p> <%= link_to 'Edit', edit_user_path(@user), {:class=>"btn btn-large btn-link"}  %></p>
