
<h2>Profile</h2>
<div style="margin-left:px;">
  <h3>
    <strong>Name:</strong>
    <%= @user.name %>
  </h3>

  <h3>
    <strong>Email:</strong>
    <%= @user.email %>
  </h3>
</div>

<p> <%= link_to 'Edit', edit_user_path(@user), {:class=>"btn btn-large btn-link"}  %></p>

<h3>
  <strong>Your Stashes</strong>
</h3>

<div class="row" style="margin-left:15px;"> <!-- YourStashes -->
  <% @user.stashes.each do |stash| %>
    <div class="col-xs-3">
      <div class="thumbnail">
        <a href="/stash/<%= stash.id%>">
         <img src="http://free.pagepeeker.com/v2/thumbs.php?size=m&url=<%=stash.posts.first.url%>"/>
        </a>
        <div class="caption">
          <h3> <%= stash.name %> </h3>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div>
  <%= render partial:"stash/stash_form" %>
</div>