
<h3>
  <strong>stasher:</strong>
  <%= @user.name %>
</h3>

<h3>
  <strong>email:</strong>
  <%= @user.email %>
</h3>

<h3>
  <strong>score:</strong>
  <%= @user.stashes.sum(:score) %>
</h3>


<% if current_user %>
<% if current_user.name==@user.name %>

<div class="title-block">
<h1>

  Your Stashes
</h1>
   
</div>
<div class="float-right">
 <%= render partial:"stashes/stash_form" %>
</div>
<% end %>
<% end %> 
<% if @stashes.length==0%>
  <h4>There are no stashes!</h4>
<% else%>
  <%= render partial:"shared/stash_display", locals:{stashes: @stashes} %>
<% end%>
