
<h2>Profile</h2>

<h3>
  <strong>Name:</strong>
  <%= @user.name %>
</h3>

<h3>
  <strong>Email:</strong>
  <%= @user.email %>
</h3>
hihihi this is <%= @user.name %>'s hoard.
<%=@posts.each do |post|%>
<%=post.inspect%>
<img src="http://free.pagepeeker.com/v2/thumbs.php?size=m&url=<%=post.url%>"/>
<%end%>

<p> <%= link_to 'Edit', edit_user_path(@user), {:class=>"btn btn-large btn-link"}  %></p>
