
<% stashes.each do |stash| %>
<div id="stash-col-<%=stash.id%>"class="col-xs-3" style="width:240px;">
  <div id ="thumb-<%=stash.id%>" class="thumbnail">
    <a href="/stash/<%= stash.id%>">
      <% if stash.posts.first%>
      <img src="http://api.webthumbnail.org/?width=200&format=png&url=<%=stash.posts.first.url%>"/>
      <% else %>
      <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQSqrHNVXtTV-lls5bPViN_Y5Y6_2ugnwwJcD0Dg5sueXbLQ9ZuuA"/>
      <% end %>            </a>
    <div id="like-<%=stash.id%>" class="btn btn-default btn-sm like buttons-<%=stash.id%> hide"  >
      <% if current_user%>
        <span id="icon-<%=stash.id%>" class="glyphicon 
          <% if StashLike.exists?(:stash_id=>stash.id,:user_id=>current_user.id)%>glyphicon-heart<%else%>glyphicon-heart-empty<%end%>"></span>
      <% end %>
      <span id="num-likes-<%=stash.id%>"> <%=stash.score%></span>
    </div>
        <% if current_user %>
        <% if current_user.id==stash.user_id%>
      <div id="delete-<%=stash.id%>" class="btn delete buttons-<%=stash.id%> hide btn-default btn-sm delete trash">
        <span  class="glyphicon glyphicon-trash">
      </div>
      <%end%>
    <% end %>
    <div class="caption">
        <h3 class="postTitle"> <%= stash.name %> </h3>
      <p class="postAuthor"> <%= link_to User.find(stash.user_id).name, user_path(stash.user_id)%></p>
    </div>

  </div>
</div>
<% end %>
