<div class="stash-header ">
  
<% if current_user %>

<% if @stash.user_id == current_user.id %>

<div id="edit"> edit </div>
</div>
<% end %>
<% end %>

    <div id="shown">
      <!-- front content -->
      <div class="title-block"><h1><%=@stash.name%></h1> <span style="margin-left:5em">by
          <%=link_to User.find(@stash.user_id).name,
                     user_path(@stash.user_id)%></span></div>
      <div class="comments">
        <%=@stash.comment%>
      </div>

    </div>
    <div id="editmsg" style="display:none">
      <!-- back content -->
        <%= render partial:"stashes/stash_update" %>

</div>





<div style="margin-left:15px;">
  <% Post.where(stash_id: @stash.id).each do |post|%>
  <div id="post-col-<%=post.id%>"class="col-xs-3" style="width:270px;">
    <div id ="thumb-<%=post.id%>-post" class="thumbnail">
      <a href="<%= post.url%>">
	<img src="http://api.webthumbnail.org/?width=230&format=png&url=<%=post.url%>"/>
 </a>
              <% if current_user %>
              <% if Stash.find(post.stash_id).user_id == current_user.id%>
    <div id="delete-<%=post.id%>-post" class="btn delete-post buttons-<%=post.id%>
                                          hide btn-default btn-sm trash" style="float:right">
        <span  class="glyphicon glyphicon-trash"></span>
    </div>
    <% end %>
    <% end %>
            
      <div class="caption" style="word-wrap: break-word;;">
	<h4 style="text-wrap:unrestricted;"><%= post.title %>  </h4>
      </div>
    </div>
  </div>
  <% end %>
</div>
