<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PageShare</title>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <meta name="description" content="">
  <meta name="author" content="Howard Chung, Kevin Jian, Alex Pien">

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
  <![endif]-->
  <style>
    .container {
      max-width: none !important;
      width: 970px;
    }
    .postimage{
      width: 283px;
      height: 200px;
    }
    .posttitle{

    }
    .postauthor{

    }
    .like{
      /*visibility: hidden;*/
      position: absolute;
      top: 8px;
      left: 22px;
    }
    footer{
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
    }
  </style>
  <script>
    function like(button) {
      if (this.value=="liked") value="not liked";
      else value="liked";
      console.log(value);
    }
  </script>
</head>
<body>
  <!-- Static navbar -->
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%=link_to "PageShare", root_url, :class=>"navbar-brand"%>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user.nil?%>
          <li><%= link_to "Sign in",signin_url%></li>
        <%else%>
        <li><%= render partial:"post/post_form" %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Pien</a></li>
              <li><a href="#">Howard</a></li>
              <div id="following"></div>
            </ul>
          </li>
          <li><%=link_to current_user.name, user_path(current_user)%></li>
          <li><%= link_to "Sign out",signout_url%></li>
        <%end%>
      </ul>
      </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>

  <div class="container">
    <%= yield %>
  </div><!--/container-->

  <footer>
    <hr>
    <p>&copy; HackDuke 2013</p>
  </footer>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

</body>

</html>
